<style>
    :root {
        --theme-color-start: var(--mud-palette-secondary);
        --theme-color-end: var(--mud-palette-primary);
    }

    .divider-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .gradient-divider {
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, var(--theme-color-start) 0%, var(--theme-color-end) 100%);
    }
</style>

<div>
    <MudText Typo="Typo.h4" Color="Color.Primary">@HeadLine</MudText>

    <div class="divider-container">
        <hr class="gradient-divider" />
    </div>
</div>

@code {
    [Parameter] public string HeadLine { get; set; } = string.Empty;
}
